**Задание 1,2**

**Описание проекта**
1. Необходимо получить данные с сайта https://fakestoreapi.com/ с помощью Python, сформировать csv файл с описанием 10 любых продуктов. (преобразование из формата json в csv должно происходить внутри кода).
2. С помощью Python открыть csv файл из задания 1 и разделить товары на категории в зависимости от цены: cheap - нижние 30% при сортировке по стоимости; middle - 40-70% при сортировке по стоимости; expensive - верхние 30% при сортировке по стоимости. Разделить полученные данные на 3 отдельных файла excel в соответствии с полученной категорией.

In [32]:
# Импорт необходимых библиотек
import requests
import pandas as pd

**1. Выгрузим данные с сайта https://fakestoreapi.com/ с помощью Python, сформируем csv файл с описанием 10 любых продуктов**

In [33]:
# Получение данных с сайта
response = requests.get('https://fakestoreapi.com/products')
data = response.json()

# Преобразование данных в DataFrame
df = pd.DataFrame(data)

# Вывод общей информации о датафрейме для проверки корректности данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   title        20 non-null     object
 2   price        20 non-null     float64
 3   description  20 non-null     object
 4   category     20 non-null     object
 5   image        20 non-null     object
 6   rating       20 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.2+ KB

***Вывод:*** Тип данных соответствует содержимому, пропущенных данных не обнаружено. Можно продолжить анализ данных.

In [34]:
# Выбор 10 случайных продуктов
df_sample = df.sample(n=10, random_state=1)

# Запись DataFrame в CSV файл
output_path = r'products.csv'
df_sample.to_csv(output_path, index=False)

print(f"Данные сохранены в файл {output_path}.")

Данные сохранены в файл products.csv.

In [35]:
# Чтение CSV файла и отображение его содержимого
df_read = pd.read_csv(output_path)
print("Содержимое файла:")
print(df_read)

Содержимое файла:
   id                                              title   price  \
0   4                               Mens Casual Slim Fit   15.99
1  17  Rain Jacket Women Windbreaker Striped Climbing...   39.99
2   7                         White Gold Plated Princess    9.99
3  11  Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...  109.00
4   3                                 Mens Cotton Jacket   55.99
5  15  BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...   56.99
6   5  John Hardy Women's Legends Naga Gold & Silver ...  695.00
7  18        MBJ Women's Solid Short Sleeve Boat Neck V     9.85
8   8  Pierced Owl Rose Gold Plated Stainless Steel D...   10.99
9   2             Mens Casual Premium Slim Fit T-Shirts    22.30

                                         description          category  \
0  The color could be slightly different between ...    men's clothing
1  Lightweight perfet for trip or casual wear---L...  women's clothing
2  Classic Created Wedding Engagement Solitaire D...          jewelery
3  3D NAND flash are applied to deliver high tran...       electronics
4  great outerwear jackets for Spring/Autumn/Wint...    men's clothing
5  Note:The Jackets is US standard size, Please c...  women's clothing
6  From our Legends Collection, the Naga was insp...          jewelery
7  95% RAYON 5% SPANDEX, Made in USA or Imported,...  women's clothing
8  Rose Gold Plated Double Flared Tunnel Plug Ear...          jewelery
9  Slim-fitting style, contrast raglan long sleev...    men's clothing

                                               image  \
0  https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
1  https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
2  https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
3  https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...
4  https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
5  https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
6  https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
7  https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
8  https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
9  https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...

                        rating
0  {'rate': 2.1, 'count': 430}
1  {'rate': 3.8, 'count': 679}
2    {'rate': 3, 'count': 400}
3  {'rate': 4.8, 'count': 319}
4  {'rate': 4.7, 'count': 500}
5  {'rate': 2.6, 'count': 235}
6  {'rate': 4.6, 'count': 400}
7  {'rate': 4.7, 'count': 130}
8  {'rate': 1.9, 'count': 100}
9  {'rate': 4.1, 'count': 259}

**Вывод:** Были получены данные с сайта и выполнена их проверка. Данные были отсортированы в соответствии с заданием и сохранены в файл под названием 'products.csv' в формате CSV.

**2. С помощью Python откроем csv файл 'products.csv' и разделим товары на категории в зависимости от цены**

In [36]:
# Чтение данных из CSV файла
df = pd.read_csv(output_path)

# Сортировка данных по цене
df_sorted = df.sort_values(by='price')

# Определение границ для категорий
n = len(df_sorted)
cheap_boundary = int(n * 0.3)
middle_boundary_start = int(n * 0.3)
middle_boundary_end = int(n * 0.7)

# Разделение данных на категории
cheap = df_sorted.iloc[:cheap_boundary]
middle = df_sorted.iloc[middle_boundary_start:middle_boundary_end]
expensive = df_sorted.iloc[middle_boundary_end:]

# Запись данных в отдельные файлы Excel
cheap.to_excel('cheap_products.xlsx', index=False)
middle.to_excel('middle_products.xlsx', index=False)
expensive.to_excel('expensive_products.xlsx', index=False)

print("Данные разделены на категории и сохранены в файлы Excel.")

Данные разделены на категории и сохранены в файлы Excel.

In [37]:
# Чтение и вывод содержимого файлов Excel на экран
cheap_read = pd.read_excel('cheap_products.xlsx')

print("\nCheap Products:")
print(cheap_read)

Cheap Products:
   id                                              title  price  \
0  18        MBJ Women's Solid Short Sleeve Boat Neck V    9.85
1   7                         White Gold Plated Princess   9.99
2   8  Pierced Owl Rose Gold Plated Stainless Steel D...  10.99

                                         description          category  \
0  95% RAYON 5% SPANDEX, Made in USA or Imported,...  women's clothing
1  Classic Created Wedding Engagement Solitaire D...          jewelery
2  Rose Gold Plated Double Flared Tunnel Plug Ear...          jewelery

                                               image  \
0  https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
1  https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
2  https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...

                        rating
0  {'rate': 4.7, 'count': 130}
1    {'rate': 3, 'count': 400}
2  {'rate': 1.9, 'count': 100}

In [38]:
middle_read = pd.read_excel('middle_products.xlsx')

print("Содержимое файла 'middle_products.xlsx':")
print(middle_read)

Содержимое файла 'middle_products.xlsx':
   id                                              title  price  \
0   4                               Mens Casual Slim Fit  15.99
1   2             Mens Casual Premium Slim Fit T-Shirts   22.30
2  17  Rain Jacket Women Windbreaker Striped Climbing...  39.99
3   3                                 Mens Cotton Jacket  55.99

                                         description          category  \
0  The color could be slightly different between ...    men's clothing
1  Slim-fitting style, contrast raglan long sleev...    men's clothing
2  Lightweight perfet for trip or casual wear---L...  women's clothing
3  great outerwear jackets for Spring/Autumn/Wint...    men's clothing

                                               image  \
0  https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
1  https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2  https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
3  https://fakestoreapi.com/img/71li-ujtlUL._AC_U...

                        rating
0  {'rate': 2.1, 'count': 430}
1  {'rate': 4.1, 'count': 259}
2  {'rate': 3.8, 'count': 679}
3  {'rate': 4.7, 'count': 500}

In [39]:
expensive_read = pd.read_excel('expensive_products.xlsx')

print("Содержимое файла 'expensive_products.xlsx':")
print(expensive_read)

Содержимое файла 'expensive_products.xlsx':
   id                                              title   price  \
0  15  BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...   56.99
1  11  Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...  109.00
2   5  John Hardy Women's Legends Naga Gold & Silver ...  695.00

                                         description          category  \
0  Note:The Jackets is US standard size, Please c...  women's clothing
1  3D NAND flash are applied to deliver high tran...       electronics
2  From our Legends Collection, the Naga was insp...          jewelery

                                               image  \
0  https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
1  https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...
2  https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...

                        rating
0  {'rate': 2.6, 'count': 235}
1  {'rate': 4.8, 'count': 319}
2  {'rate': 4.6, 'count': 400}

**Вывод:** Все товары разделили на категории в зависимости от цены и сохранили каждую категорию в отдельный Excel-файл.

**Задание 3**

1. Преобразуем все ставки в доллары США для единообразия.
2. Рассчитаем ROI для каждого клиента.
3. Найдем клиентов, у которых ROI ниже 100%, и предложим новую ставку партнёру, чтобы ROI был равен 200%.

Для начала, установим курсы валют для преобразования в доллары США. Допустим, что курсы валют следующие (для примера):

1 RUB = 0.01 USD
1 EUR = 1.09 USD
1 AUD = 0.67 USD

In [98]:
import pandas as pd

# Укажем путь к вашему Excel файлу
file_path = 'Тест на джуна.xlsx'

# Определим диапазон строк и столбцов, который вы хотите загрузить
sheet_name = 'Задание 3'
start_row = 3  # строки в pandas нумеруются с 0, поэтому строка 5 в Excel - это 4 в pandas
nrows = 5  # количество строк, которые необходимо загрузить
usecols = 'A:D'  # диапазон столбцов

# Загрузим данные из указанного диапазона
df_task_3 = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row, nrows=nrows, usecols=usecols)

# Выведим DataFrame на экран
print(df_task_3)

     Клиент  Ставка нам Валюта  Ставка партнёру
0  Клиент 1        5000    RUB               40
1  Клиент 2         120    EUR               55
2  Клиент 3          80    USD               40
3  Клиент 4          65    AUD               60

**1. Преобразуем все ставки в доллары США для единообразия**

In [99]:
import pandas as pd

# Укажем путь к вашему Excel файлу
file_path = 'Тест на джуна.xlsx'

# Определим диапазон строк и столбцов, который мы хотите загрузить
sheet_name = 'Задание 3'
start_row = 3  
nrows = 5  
usecols = 'A:D'  

# Загрузим данные из указанного диапазона
df_task_3 = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row, nrows=nrows, usecols=usecols)

# Преобразование ставок в доллары США
exchange_rates = {
    'RUB': 0.01,
    'EUR': 1.09,
    'USD': 1,
    'AUD': 0.67
}

# Преобразование столбца "Ставка нам" в доллары США
df_task_3['Ставка нам (USD)'] = df_task_3.apply(lambda row: row['Ставка нам'] * exchange_rates[row['Валюта']], axis=1)

# Вывод DataFrame на экран для проверки
print(df_task_3)

     Клиент  Ставка нам Валюта  Ставка партнёру  Ставка нам (USD)
0  Клиент 1        5000    RUB               40             50.00
1  Клиент 2         120    EUR               55            130.80
2  Клиент 3          80    USD               40             80.00
3  Клиент 4          65    AUD               60             43.55

**2. Рассчитаем ROI для каждого клиента**

In [100]:
# Рассчет профита и ROI
df_task_3['Профит'] = df_task_3['Ставка нам (USD)'] - df_task_3['Ставка партнёру']
df_task_3['ROI'] = (df_task_3['Профит'] / df_task_3['Ставка партнёру']) * 100

# Вывод DataFrame на экран для проверки
print(df_task_3)

     Клиент  Ставка нам Валюта  Ставка партнёру  Ставка нам (USD)  Профит  \
0  Клиент 1        5000    RUB               40             50.00   10.00
1  Клиент 2         120    EUR               55            130.80   75.80
2  Клиент 3          80    USD               40             80.00   40.00
3  Клиент 4          65    AUD               60             43.55  -16.45

          ROI
0   25.000000
1  137.818182
2  100.000000
3  -27.416667

**3. Найдем клиентов, у которых ROI ниже 100%, и предложим новую ставку партнёру, чтобы ROI был равен 200%**

In [101]:
# Рассчет новой ставки партнёру для достижения ROI 200%
df_task_3['Новая ставка партнёру (если ROI < 100%)'] = df_task_3.apply(
    lambda row: row['Ставка нам (USD)'] / 3 if row['ROI'] < 100 else row['Ставка партнёру'],
    axis=1
)
df_task_3['new_Профит'] = df_task_3['Ставка нам (USD)'] - df_task_3['Новая ставка партнёру (если ROI < 100%)']
df_task_3['new_ROI'] = (df_task_3['new_Профит'] / df_task_3['Новая ставка партнёру (если ROI < 100%)']) * 100
# Вывод DataFrame на экран для проверки
print(df_task_3)

     Клиент  Ставка нам Валюта  Ставка партнёру  Ставка нам (USD)  Профит  \
0  Клиент 1        5000    RUB               40             50.00   10.00
1  Клиент 2         120    EUR               55            130.80   75.80
2  Клиент 3          80    USD               40             80.00   40.00
3  Клиент 4          65    AUD               60             43.55  -16.45

          ROI  Новая ставка партнёру (если ROI < 100%)  new_Профит     new_ROI
0   25.000000                                16.666667   33.333333  200.000000
1  137.818182                                55.000000   75.800000  137.818182
2  100.000000                                40.000000   40.000000  100.000000
3  -27.416667                                14.516667   29.033333  200.000000

**Задание 4**

In [102]:
import pandas as pd

# Укажем путь к Excel файлу с данными
file_path = 'Тест на джуна.xlsx'

# Определим диапазон строк и столбцов, который необходимо загрузить
sheet_name = 'Задание 4'
start_row = 2
nrows = 173
usecols = 'A:D'

# Загрузим данные из указанного диапазона
df_task_4 = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row, nrows=nrows, usecols=usecols)

print(df_task_4.tail())

           Install Time          Event Time  Adset           City
164 2022-04-06 00:41:18 2022-04-06 01:23:03      2        Aquiraz
165 2022-04-05 21:30:48 2022-04-05 21:38:52      2   Santa Adelia
166 2022-04-05 01:09:22 2022-04-05 01:24:41      1  Florianopolis
167 2022-04-04 11:55:12 2022-04-04 11:59:14      1        Formosa
168 2022-04-04 10:37:39 2022-04-04 10:45:47      1          Macae

In [103]:
# Переименуем столбцы
df_task_4.columns = ['install_time', 'event_time', 'adset', 'city']

# Преобразуйем столбцы с датами в формат datetime
df_task_4['install_time'] = pd.to_datetime(df_task_4['install_time'])
df_task_4['event_time'] = pd.to_datetime(df_task_4['event_time'])

# Рассчитаем разницу в днях между событием и установкой
df_task_4['days_diff'] = (df_task_4['event_time'] - df_task_4['install_time']).dt.days

# Отфильтруйем события, где разница больше 2 суток
valid_events = df_task_4[df_task_4['days_diff'] <= 2].copy()

# Определим ставку в зависимости от города
valid_events['rate'] = valid_events['city'].apply(lambda x: 200 if x == 'Sao Paulo' else 100)

# Рассчитайем общую сумму
total_amount = valid_events['rate'].sum()
print(f"Общая сумма, которую рекламодатель выплатит: {total_amount} y.e.")

Общая сумма, которую рекламодатель выплатит: 17300 y.e.

In [104]:
# Добавим столбец с часом события
valid_events['event_hour'] = valid_events['event_time'].dt.hour

# Подсчитаем количество событий по часам, городам и адсетам
events_per_hour = valid_events['event_hour'].value_counts().sort_index()
events_per_city = valid_events['city'].value_counts()
events_per_adset = valid_events['adset'].value_counts()

# Найдём оптимальные часовые промежутки, города и адсет
optimal_hour = events_per_hour.idxmax()
optimal_hour_count = events_per_hour.max()
optimal_city = events_per_city.idxmax()
optimal_city_count = events_per_city.max()
optimal_adset = events_per_adset.idxmax()
optimal_adset_count = events_per_adset.max()

**Вывод:**

In [105]:
# Вывод результатов по оптимальным критериям
print(f"Оптимальный часовой промежуток показа рекламы: {optimal_hour} (Количество событий: {optimal_hour_count})")
print(f"Оптимальный город показа рекламы: {optimal_city} (Количество событий: {optimal_city_count})")
print(f"Оптимальный адсет: {optimal_adset} (Количество событий: {optimal_adset_count})")

# Прогнозируем количество событий за весь апрель
events_per_day = valid_events['event_time'].dt.date.value_counts().mean()
total_events_april = events_per_day * 30  # апрель имеет 30 дней

print(f"\nПрогнозируемое количество событий за апрель: {total_events_april:.0f}")

Оптимальный часовой промежуток показа рекламы: 2 (Количество событий: 23)
Оптимальный город показа рекламы: Sao Paulo (Количество событий: 13)
Оптимальный адсет: 17 (Количество событий: 85)

Прогнозируемое количество событий за апрель: 436